node_modules
dist
.env
.DS_Store
server/public
vite.config.ts.*
# WIP
LOCAL_DEV.md
# PyCharm 
.idea/workspace.xml
*.tmp
*.tar.gz
.cache
.local
.upm
*.tsbuildinfo
.tsbuildinfo
mobile/.tsbuildinfo
# Playwright
playwright-report/
test-results/
server/__tests__/e2e/.test-context.json
